<!--
<div *ngIf="position == 'vertical'">
  <div *ngIf="color == 'purple'">
    <div class="card bg-purple flex flex-col" style="height: 260px;">
      <div style="margin-right: 16px" class="self-center mb-1">
        <i class="fa fa-4x fa-money text-white rounded-b-full"></i>
      </div>
      <div class="text-center mb-1">
        <h1 class="h3 text-white">{{title}}</h1>
        <p class="h5 text-white">{{subtitle}}</p>
      </div>
      <div>
        <p class="text-white">{{body}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="color == 'green'">
    <div class="card bg-green-darker flex flex-col" style="height: 260px; ">
      <div style="margin-right: 16px" class="self-center mb-1">
        <i class="fa fa-4x fa-money text-white rounded-b-full"></i>
      </div>
      <div class="text-center mb-1">
        <h1 class="h3 text-white">{{title}}</h1>
        <p class="h5 text-white">{{subtitle}}</p>
      </div>
      <div>
        <p class="text-black">{{body}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="color == 'white'">
    <div class="card bg-white flex flex-col" style="height: 260px; ">
      <div style="margin-right: 16px" class="self-center mb-1">
        <i class="fa fa-4x fa-money text-black rounded-b-full"></i>
      </div>
      <div class="text-center mb-1">
        <h1 class="h3 text-black">{{title}}</h1>
        <p class="h5 text-black">{{subtitle}}</p>
      </div>
      <div>
        <p class="text-black">{{body}}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="position == 'horizontal'">
  <div *ngIf="color == 'purple'">
    <div class="card-shadow bg-purple" style=" display: flex">
      <div style="flex-direction: column; margin-right: 16px">
        <i class="fa fa-4x fa-money text-white rounded-b-full"></i>
      </div>
      <div style="flex-direction: column">
        <h1 class="h3 text-white">{{title}}</h1>
        <p class="text-white">{{subtitle}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="color == 'white'">
    <div class="card-shadow bg-white" style="; display: flex">
      <div style="flex-direction: column; margin-right: 16px">
        <i class="fa fa-4x fa-money text-black rounded-b-full"></i>
      </div>
      <div style="flex-direction: column">
        <h1 class="h3 text-black">{{title}}</h1>
        <p class="text-black">{{subtitle}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="color == 'green'">
    <div class="card-shadow bg-green-darker" style="; display: flex">
      <div style="flex-direction: column; margin-right: 16px">
        <i class="fa fa-4x fa-money text-white rounded-b-full"></i>
      </div>
      <div style="flex-direction: column">
        <h1 class="h3 text-white">{{title}}</h1>
        <p class="text-white">{{subtitle}}</p>
      </div>
    </div>
  </div>
</div>

-->


<div class="card py-3 m-2" [ngStyle]="{'background-color': colors[color] ? colors[color] : 'white' , 'color': colors[color] ? 'white' : 'black'}">
  <div class="card-body text-center">
      <div class="col my-auto">
        <h4 class="card-title">{{title}}</h4>
        <h6 class="card-subtitle mb-2">{{subtitle}}</h6>
        <hr *ngIf="subtitle && body">
        <p class="card-body" style="padding-bottom: 0pc !important;" *ngIf="body">{{body}}</p>
        <br *ngIf="!subtitle && body">
      </div>
    </div>
</div>
