<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-white block p-1 mb-3" style="height: 5pc">
  <img src="../assets/logo-konfio.svg" class="h-12" style="color: white">
</div>

<div class="container section-space-bottom" style="height: 90vh;">
  <h1 class="h1-big text-purple">Bienvenido <span class="text-purple h1"> a Kompas</span></h1>
  <p class="text-grey-dark h4">Tu facturación</p>
  <hr>

  <div class="flex flex-wrap">
    <hack-card title="{{20124123 | currency}}" subtitle="Gastos del mes" position="horizontal"></hack-card>
    <hack-card title="{{20124123 | currency}}" subtitle="Ingresos" color="white" position="horizontal"></hack-card>
    <hack-card title="{{20124123 | currency}}" subtitle="Ingresos" color="green" position="horizontal"></hack-card>
  </div>
</div>

<div class="container section-space-double">
  <h1 class="h1-big text-purple">Bienvenido <span class="text-purple h1"> a Kompas</span></h1>
  <p class="text-grey-dark h4">Tu facturación</p>
  <hr>

  <div class="flex">

  </div>

</div>



<router-outlet></router-outlet>
